*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-grid{
    width: 500px;
    height: 500px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    
}

.innerbox{
    width: 25px;
    height: 25px;
    background-color:wheat;
}

.black{
    background-color: black;
}